<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Integrantes</title>
</head>
<body>
    <h1>Integrantes</h1>
    <ul id="lista-integrantes"></ul>

    <script>
        // Função para fazer a requisição GET para a rota /integrantes
        function carregarIntegrantes() {
            fetch('http://localhost:3000/integrantes')
                .then(response => response.json())
                .then(data => {
                    const listaIntegrantes = document.getElementById('lista-integrantes');
                    data.integrantes.forEach(integrante => {
                        const itemLista = document.createElement('li');
                        itemLista.textContent = integrante.nome;
                        listaIntegrantes.appendChild(itemLista);
                    });
                })
                .catch(error => console.error('Erro ao carregar integrantes:', error));
        }

        // Chama a função para carregar os integrantes quando a página carrega
        window.onload = carregarIntegrantes;
    </script>
</body>
</html>
